*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
body{
    background: rgb(227, 222, 222);
}
.hero .content .title .center-title{
    color: gray;
    font-size: 80px;
    
}
.title{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px ;
}
.img-1{
    width: 500px;
    float: right;
    /* bottom: 0px; */
    margin-top: 20px;
    opacity: 0.35;
}
.l-r{
    margin-bottom: 0px;
}